@font-face {
  font-family: Hanken Grotesk;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
}

body{
  background: linear-gradient(90deg,hsl(221, 100%, 96%), hsl(241, 100%, 89%));
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16vh;
  font-family: Hanken Grotesk;

@media (max-width: 500px){
    padding-top: 6vh;
  }
}

.app-container{
  display: flex;
  background-color: white;
  border-radius: 20px;
  
@media (max-width: 500px){
    flex-direction: column;
    border-radius: 0;
  }
}

.result-card{
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  color: white;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  text-align: center;

@media (max-width: 500px){
    border-radius: 0;
  }
}

.summary-card{
  background-color: hsl(0, 0%, 100%);
  width: 220px;
  padding: 5px 30px;
  border-radius: 0 20px 20px 0;
}

.round-div{
  background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
  border-radius: 50%;
  text-align: center;
  padding: 0px 50px;
}

.group, .reports-container{
  display: flex;
  justify-content: space-between;
}

button{
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

button:hover{
  background-color: hsl(241, 81%, 54%);
}

img{
  margin-right: 5px;
}

h1{
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 55px;
  opacity: 1;
}

h2{
  margin: 25px 0 0 0;
  font-weight: 800;
  font-size: 20px;
  opacity: 1;
}

.result-card h3{
  color: hsla(221, 100%, 96%, 0.8);
  margin: 25px 0 30px 0;
  font-weight: 700;
  font-size: 15px;
}

h6{
  margin-top: 0;
  color: hsla(221, 100%, 96%, 0.5);
}

.result-card p{
  color: hsla(221, 100%, 96%, 0.8);
  font-weight: 500;
  font-size: 12px;
}
